@model BasicNotesApp.Web.ViewModel.NoteViewModel

@{
    ViewData["Title"] = "Edit Note";
}

<h2>Edit Note</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<BasicNotesApp.Domain.Enums.PriorityLevel>()"></select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

